__pycache__/
*.pyc
.env
Dokumentation/Einzelsteckbriefe/_generate.py
Dokumentation/Einzelsteckbriefe/*.html
Dokumentation/Matchplan-2026-Themensteckbriefe.html
Dokumentation/*.xlsx
*.xlsx
Poster-Birk-Kempen.pdf
